
@import "~bootstrap/scss/bootstrap";

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 40px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

main {
  padding: 40px 0 0 !important; /* Height of navbar */
}
.map {
  width: 100%;
  height:100vh;
}

#lsoa-detail-panel-content {
  dd {
    text-align: right;
  }

  .data-percentile {
    font-weight: bold;
    font-size: 1.25rem;
  }
  .data-detail {
    display: block;
    color: $text-muted;
  }

  .decile-10 .icon-decile { color: $danger; }
  .decile-20 .icon-decile { color: lighten($danger, 10%); }
  .decile-30 .icon-decile { color: lighten($danger, 20%); }
  .decile-40 .icon-decile { color: lighten($danger, 30%); }
  .decile-50 .icon-decile { color: lighten($danger, 35%); }
  .decile-60 .icon-decile { color: lighten($success, 40%); }
  .decile-70 .icon-decile { color: lighten($success, 30%); }
  .decile-80 .icon-decile { color: lighten($success, 20%); }
  .decile-90 .icon-decile { color: lighten($success, 10%); }
  .decile-100 .icon-decile { color: lighten($success, 0%); }

  .icon-decile { display: none; }
  .decile-10, .decile-20, .decile-30, .decile-40, .decile-50,
  .decile-60, .decile-70, .decile-80, .decile-90, .decile-100 {
    .icon-decile { display: initial; }
  }
}